body{
    background-color: bisque;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 25px;
}
.navigation-links {
   display: flex; 
   padding: 20px;
   justify-content: center;
}
.navigation-links a {
margin: 10px
}
.picture{
border-radius: 30px;
}